<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--<add name="PEPeEntities" connectionString="metadata=res://*/PEPeModel.csdl|res://*/PEPeModel.ssdl|res://*/PEPeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCA70-LADEIRA;initial catalog=PEPe;user id=sa;password=abc123456*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="PEPeDataModelEntities" connectionString="metadata=res://*/PEPeDataModel.csdl|res://*/PEPeDataModel.ssdl|res://*/PEPeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCA70-LADEIRA;initial catalog=PEPe;user id=sa;password=abc123456*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  
  <add name="PEPeEntities" connectionString="metadata=res://*/PEPeModel.csdl|res://*/PEPeModel.ssdl|res://*/PEPeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCA70-LADEIRA;initial catalog=PEPe;user id=sa;password=abc123456*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>